.shape {
  overflow: hidden;
  padding: 6px;
  position: absolute;
}

.shape-rectangle {
  border-style: solid;
  border-width: 1px;
}

.shape-rectangle-rounded {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
}

.shape-rectangle-blank {
  border: none;
}

.shape-oval {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}

.animate-shape-fade {
  opacity: 0;
}

.animate-shape-grow {
  height: 0%;
  width: 0%;
}
