@function cyberblueTransparent($opacity) {
  @return rgba(70, 150, 241, $opacity)
}

$cyberblue: cyberblueTransparent(1);
$monofont: 'Inconsolata', source-code-pro, Consolas, monospace;


* {
  box-sizing: border-box;
}

html, body {
  background-color: #111;
  font-family: $monofont;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  padding: 12px;
}

body {
  height: 100%;
  position: relative;
}

a, button, input, textarea {
  background-color: transparent;
  border: none;
  font-family: $monofont;
  font-size: 16px;
  padding: 0;
}

a, button, input {
  text-decoration: underline;
}

a, button {
  cursor: pointer;
}

a {
  padding-right: 12px;
}

input {
  background-color: transparent;
  border: none;
  border-radius: 0;
  
  &:focus {
    outline-color: rgba(255, 255, 255, 0.2);
    outline-style: solid;
    outline-width: 2px;
  }
}
